body {
    margin: 0;
    padding: 0;
    background-image: url("assets/parchmentbackground-blue9000px.png");
}

#achievements p {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.3;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}

main h1 {
    color: white;
    margin-bottom: -20px;
    padding-bottom: 2px;
    border-bottom: 3px solid white;
}

table {
    width: 1200px;
    font-size: 15pt;
    text-align: left;
    border-collapse: collapse;
}

table h4 {
    font-family: "DragonFire", serif;
    font-size: 15pt;
    font-weight: 100;
    margin: 0%;
    padding: 0%;
    padding-left: 20px;
}

table a {
    text-decoration: none;
    color: white;
}

table a:hover {
    text-decoration: underline 1px white;
}

table p {
    margin: 0%;
    padding: 0%;
    padding-left: 15px;
    text-align: left;
}

tr {
    color: white;
    background-color: #182234d2;
    height: 50px;
    vertical-align: middle;
}

th {
    font-family: "Crimson Pro", sans-serif;
    background-color: white;
    color: black;
    height: 40px;
}

td {
    border: 1px solid white;
}

td img {
    display: block;
}