.body {
    margin:0;
    padding: 0;
}

main {
    margin-bottom: -160px;
}

#hero {
    position: relative;
}

#hero video {
    width: 100%;
    margin: -160px 0px 0px 0px;
}

#herocontent {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding-top: -20%;
    top: 43%; 
    right: 2%;
    transform: translate(-20%, -50%);
}

#logodiv {
    display: flex;
    justify-content: center;
}

#bg3logo {
    width: 250px;
    margin-bottom: -7%;
}

#fronttext {
    text-align: center;
}

#fronttext h1 {
    color: white;
    filter: drop-shadow(0px 0px 10px black);
}

#fronttext p {
    font-size: 11pt;
    color: white;
    padding-top: -1%
}